@model Web_TrabajoFidelitas.Entidades.Usuario

@{
    ViewBag.Title = "RegistrarUsuario";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="~/Estilos/assets/img/Grupo-Motores-Britanicos-2.png" alt="Logo">
                            </a>
                        </div><!-- Fin Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Crear una Cuenta</h5>
                                    <p class="text-center small"></p>
                                </div>

                                @using (Html.BeginForm("RegistrarUsuario", "Usuario", FormMethod.Post, new { @class = "row g-3 needs-validation", novalidate = "novalidate" }))
                                {
                                    <div class="col-12">
                                        @Html.LabelFor(m => m.nombreUsuario, new { @class = "form-label" })
                                        @Html.TextBoxFor(m => m.nombreUsuario, new { @class = "form-control", @id = "yourName", required = "required" })
                                        <div class="invalid-feedback">Por favor, ingresa tu nombre.</div>
                                    </div>

                                    <div class="col-12">
                                        @Html.LabelFor(m => m.emailUsuario, new { @class = "form-label" })
                                        @Html.TextBoxFor(m => m.emailUsuario, new { @class = "form-control", @type = "email", @id = "yourEmail", required = "required" })
                                        <div class="invalid-feedback">Por favor, introduce una dirección de correo electrónico válida.</div>
                                    </div>

                                    <div class="col-12">
                                        @Html.LabelFor(m => m.contrasenaUsuario, new { @class = "form-label" })
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend"></span>
                                            @Html.PasswordFor(m => m.contrasenaUsuario, new { @class = "form-control", @id = "yourUsername", required = "required" })
                                            <div class="invalid-feedback">Por favor, elige un nombre de usuario.</div>
                                        </div>
                                    </div>

                                  

                                    
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Crear Cuenta</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">¿Ya tienes cuenta? <a href="@Url.Action("IniciarSesion","Usuario")">Iniciar sesión</a></p>
                                    </div>
                                }

                            </div>
                        </div>

                        <div class="credits">
                            Diseñado por <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- Fin #main -->
