
@{
    var errorMessage = TempData["ErrorMessage"] as string;
}

<div class="pagetitle">
    <h1>Dashboard</h1>

</div><!-- End Page Title -->


@if (Session["RolUsuario"] != null && Session["RolUsuario"].ToString() != "1")
{
    <div class="m-3">

        <div class="d-grid gap-2 mt-3">
            <h3> MODO USUARIO</h3>
        </div>
    </div>
}
@if (Session["RolUsuario"] != null && Session["RolUsuario"].ToString() == "1")
{
    <div class="m-3">

        <div class="d-grid gap-2 mt-3">
            <h3> MODO ADMIN</h3>
        </div>
    </div>
}


<section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <h5 class="card-title">Citas </h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-pencil-square"></i>
                                </div>
                                <div class="ps-3">
                                    <h6> @ViewBag.CantCitas</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">
                        <div class="card-body">
                            <h5 class="card-title">Carros</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="ri ri-car-fill"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.CantAutos</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xxl-4 col-xl-12">

                    <div class="card info-card customers-card">

                        <div class="card-body">
                            <h5 class="card-title">Clientes </h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.CantClientes</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="padding: 12px">
                <div class="container">
                    <div class="row">
                        <!-- Columna para los botones a la izquierda -->
                        <div class="col-md-3 d-flex flex-column align-items-center">
                            <div class="card" style="width: 100%;">
                                <!-- Ancho ajustado aquí -->
                                <div class="card-body text-center">
                                    <a class="btn btn-success m-lg-4" href="@Url.Action("TraerTodoDocker", "Reporte")">EXCEL TOTAL CITAS</a>

                                    <hr> <!-- Línea de separación -->

                                    @using (Html.BeginForm("TraerTodoDockerSegunFecha", "Reporte", FormMethod.Get))
                                    {
                                        <div class="form-group m-lg-5">
                                            <input type="date" name="fecha" class="form-control" required />
                                        </div>

                                        <input type="submit" class="btn btn-success" value="EXCEL SEGÚN FECHA">
                                    }
                                </div>
                            </div>
                        </div>

                        <!-- Columna para las tarjetas a la derecha -->
                        <div class="col-md-9">
                            <div class="row">
                                <!-- Tarjeta Seleccionar Sucursal -->
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>SELECCIONAR SUCURSAL</h3>
                                        </div>
                                        <div class="card-body">
                                            @using (Html.BeginForm("TraerTodoDockerSegunSucursal", "Reporte", FormMethod.Get))
                                            {
                                                <div class="form-group my-3 text-center">
                                                    @Html.Label("Seleccione una sucursal", new { @class = "my-3" })
                                                    @Html.DropDownList("idSucursal", ViewBag.Sucursales as List<SelectListItem>, new { @class = "form-control form-control-user", @required = "true" })
                                                    @Html.ValidationMessage("idSucursal", "", new { @class = "text-danger" })
                                                </div>

                                                <div style="display: flex; align-items: center; flex-direction: column;">
                                                    <input type="submit" class="btn btn-primary btn-block" value="EXCEL SUCURSAL" style="margin-top: 20px; margin-bottom: 20px;">
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <!-- Tarjeta Seleccionar Mes -->
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>SELECCIONAR MESES</h3>
                                        </div>
                                        <div class="card-body">
                                            @using (Html.BeginForm("TraerTodoDockerSegunMes", "Reporte", FormMethod.Get))
                                            {
                                                <div class="form-group my-3 text-center">
                                                    @Html.Label("Seleccione un Mes", new { @class = "my-3" })
                                                    @Html.DropDownList("Mes", ViewBag.Meses as List<SelectListItem>, new { @class = "form-control form-control-user", @required = "true" })
                                                    @Html.ValidationMessage("mes", "", new { @class = "text-danger" })

                                                    <!-- Mostrar el mensaje de error si existe -->
                                                    @if (!string.IsNullOrEmpty(errorMessage))
                                                    {
                                                        <div class="text-danger">
                                                            @errorMessage
                                                        </div>
                                                    }
                                                </div>

                                                <div style="display: flex; align-items: center; flex-direction: column;">
                                                    <input type="submit" class="btn btn-primary btn-block" value="Generar Reporte" style="margin-top: 20px; margin-bottom: 20px;">
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
