@model List<Web_TrabajoFidelitas.Entidades.Citas>

@{
    ViewBag.Title = "TraerCita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Sucursal</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <div class="col-sm-12">

                        @if (ViewBag.MsjPantalla != null)
                        {
                            <div class="alert alert-warning" role="alert" style="text-align:center">
                                @ViewBag.MsjPantalla
                            </div>
                        }

                        <div style="margin-bottom:1%; text-align:right">
                            <a class="btn btn-primary" href="@Url.Action("NuevoSucursal","Sucursal")"> + Agregar</a>
                        </div>

                        <table id="myDataTable" class="table table-bordered" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre de la Sucursal</th>
                                    <th>Direccion Sucursal</th>
                                    <th>Id de la direccion</th>
                                    <th>Estado</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.idCita</td>
                                        <td>@item.idCliente</td>
                                        <td>@item.idAutomovil</td>
                                        <td>@item.idSucursal</td>
                                        <td>@item.idServicio</td>
                                        <td>@item.fechaHora</td>
                                        <td>@item.comentarios</td>
                                        <td>@item.estado</td>

                                        @if (item.estado)
                                        {
                                            <td>Activo</td>
                                        }
                                        else
                                        {
                                            <td>Inactivo</td>
                                        }

                                        <td>
                                            <div style="text-align:center">
                                                <a href="@Url.Action("EditarCita","Cita", new { id = @item.idCita })" class="btn btn-sm btn-info"><i class="fa fa-pencil-square-o"></i></a>
                                                <a href="@Url.Action("InactivarCita","Cita", new { id = @item.idCita })" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CDN de DataTables -->
<link href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#myDataTable').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json',
            }
        });
    });
</script>
