@model Web_TrabajoFidelitas.Entidades.Cliente

@{
    ViewBag.Title = "Registrar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Registrar Cliente</h6>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card-body">
                <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">

                        @if (ViewBag.MsjPantalla != null)
                        {
                            <div class="alert alert-warning" role="alert" style="text-align:center">
                                @ViewBag.MsjPantalla
                            </div>
                        }

                        @using (Html.BeginForm("NuevoCliente", "Cliente", FormMethod.Post))
                        {
                            <div class="form-group my-4">
                                @Html.LabelFor(m => m.nombreCliente)
                                @Html.TextBoxFor(m => m.nombreCliente, new { @class = "form-control", @placeholder = "Nombre", @required = "true" })
                                @Html.ValidationMessageFor(m => m.nombreCliente, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group my-4">
                                @Html.LabelFor(m => m.telefonoCliente)
                                @Html.TextBoxFor(m => m.telefonoCliente, new { @class = "form-control", @placeholder = "Teléfono", @type = "tel", @required = "true" })
                                @Html.ValidationMessageFor(m => m.telefonoCliente, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group my-4">
                                @Html.LabelFor(m => m.direccionCliente)
                                @Html.TextBoxFor(m => m.direccionCliente, new { @class = "form-control", @placeholder = "Dirección", @required = "true" })
                                @Html.ValidationMessageFor(m => m.direccionCliente, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group my-4">
                                @Html.LabelFor(m => m.emailCliente)
                                @Html.TextBoxFor(m => m.emailCliente, new { @class = "form-control", @placeholder = "Email", @type = "email", @required = "true" })
                                @Html.ValidationMessageFor(m => m.emailCliente, "", new { @class = "text-danger" })
                            </div>
                           

                            <input type="submit" class="btn btn-primary btn-block" value="Registrar Cliente">
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
